<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SeminarioTickets.Properties.Settings.SeminarioTicketsConnectionString"
            connectionString="Data Source=RITA\SQLEXPRESS;Initial Catalog=SeminarioTickets;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SeminarioTickets.Properties.Settings.SeminarioTicketsDataSet"
            connectionString="Data Source=localhost;Initial Catalog=SeminarioTickets;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>